---
title: Idiosyncratic Ruby - All Posts
---

<div class="hero hero-small">
  <div class="hero-inner">
    <a href="/index/" class="hero-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
    <div class="hero-copy">
      <h1>Idiosyncratic Ruby</h1>
      <p>A 31 Parts Story about Ruby Specialities.<br/>A New Post Every Day in May 2015!</p>
    </div>
  </div>
</div>

<div class="world">
  <ul class="article-links">
    <% page_articles.sort_by{ |a| a.path.to_i }.reverse_each do |article| %>
      <li>
      <!-- #{article.date.strftime('%e')}:  -->
        <%= link_to "#{article.title}", article %>
      </li>
    <% end %>
  </ul>

<!--   <aside>
    <h2>Tags</h2>
    <ol>
      <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
      <% end %>
    </ol>
  </aside> -->
</div>