@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

@import "rainbow-github";
@import "table-width";
@import "articles";

$action-color: rgba(119, 0, 0, 0.7);
$base-link-color: $action-color;
$large-screen: em(860) !default;
$medium-screen: em(600) !default;
$base-border-radius: 3px !default;

$link-color: rgba(119, 0, 0, 0.7);
$link-color-active: rgba(119, 0, 0, 0.85);

.hero {
  $hero-color: black;

  padding-bottom: 1em;

  .hero-logo img {
    margin-bottom: 1.2em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 40pt;
        margin-bottom: 0.5em;
      }

      p {
        font-weight: 200;
        line-height: 1.5em;
        font-size: 1.4em;
        margin: 0 auto;

        @include media($large-screen) {
          max-width: 50%;
        }
      }
    }

    button {
      @include button(flat, $action-color);
      border-radius: 0;
      padding: 0.2em 3em;
      font-size: 1.5em;
      margin-top: 1.6em;
    }
  }
}

.hero-small {
  padding-bottom: 0;
  .hero-inner {
    padding-bottom: 0;
  }
}


.scroll-on-page {
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;

  display: inline-block;

  aside {
    text-align: right;
    @include media($large-screen) {
      @include span-columns(4);
    }
    margin-top: 4.2em;
    margin-bottom: 2em;
  }

  .scroll-on-page-link {
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: 0.1em 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  article {
    h4 {
      margin: 0 0 0.5em 0;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    section p:last-of-type {
      margin-bottom: 2em;
    }

    @include media($large-screen) {
      @include span-columns(8);
    }
  }
}

// Based on code by http://codepen.io/xmark/

////

body {
  background: #fafafa;
  @include outer-container;
}

code {
  font-size: $base-font-size * 0.8;
}

td, th {
  font-size: $base-font-size * 0.83;
  vertical-align: top;
  padding: 0.5em 0.3em;
  code{
    font-size: $base-font-size * 0.8;
  }
}

th {
  font-size: $base-font-size;
  font-weight: normal;
}

table {
  margin-top: -0.25em;
}


pre {
  overflow: auto;
}

blockquote{
  margin-left: 0;
}

p strong {
  font-size: 0.90em;
}

.world {
  margin-top: 2em;
  margin-bottom: 2em;
  @include span-columns(10);
  @include shift(1);
}

h1 {
  font-size: 30pt;

  a {
    color: #222;
    &:hover, &:active, &:focus {
      color: #222;
    }
  }

  @include media($medium-screen) {
    font-size: 48pt;
  }
}

h2 {
  font-size: 18pt;
  margin-top: 2em;
  margin-bottom: 0.4em;
  code {
    font-size: 16pt;
    font-weight: normal;
  }
  a {
    color: #333;
    &:hover, &:active, &:focus {
      color: #333;
    }
  }
}

h3 {
  font-size: 14pt;
  margin-top: 2em;
  margin-bottom: 0.4em;
  code {
    font-size: 15pt;
    font-weight: normal;
  }
  a {
    color: #333;
    &:hover, &:active, &:focus {
      color: #333;
    }
  }
}


footer {
  border-top: 1px solid #ddd;
}

.feed-icon {
  height: 18px;
  position: relative;
  top: 3px;
  margin-right: 0.5em;
}
.twitter-tweet-button {
  position: relative !important;
  top: 4px !important;
}

.start-page .twitter-tweet-button,
.index-articles .twitter-tweet-button {
  margin-right: 0.5em;
}

.github-star-button {
  display: inline-block;
  position: relative;
  top: 4px;
}

article, footer {
  ul {
    padding-left: 18px;
    margin-bottom: 2em;

    li {
      list-style-type: circle;
      ul {
        margin-bottom: 0;
      }
    }
  }
}

section {
  clear: both;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $link-color-active;
  }
}

.post {
  clear: both;

  @include media($large-screen) {
    margin-left: 214px;
  }
}

.post-header {
  @include media($medium-screen) {
    margin-top: 1em;
  }
}

.post-logo {
  img {
    height: 7em;
    margin-bottom: 1em;
    @include media($medium-screen) {
      width: auto;
      float: left;
      height: 10em;
      margin-right: 3em;
      margin-bottom: 3em;
    }
  }
}

.post-heading {
  position: relative;
  @include media($medium-screen) {
    height: 160px;
    margin-left: 180px;
    a {
      position: absolute;
      bottom: -4px;
    }
  }
}

.index-articles {
  margin-bottom: 2em;
  @include media($large-screen) {
    margin-left: 214px;
  }
  article {
    margin-bottom: 3em;
  }
}

.article-links {
  text-align: center;
  // @include span-columns(4 of 10);
  // @include shift(3 of 10);
  li {
    font-size: 1.3em;
  }
}

.footer-right {
  float: right;
  text-align: right;
}

.action-color {
  color: $action-color;
}