.table-35-30-X {
  th:nth-child(1) { width: 35%; }
  th:nth-child(2) { width: 30%; }
}

.table-20-20-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 20%; }
}

.table-20-35-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 35%; }
}

.table-15-15-30-X {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 15%; }
  th:nth-child(3) { width: 30%; }
}

.table-20-X {
  th:nth-child(1) { width: 20%; }
}

.table-12-20-36-14-X {
  th:nth-child(1) { width: 12%; }
  th:nth-child(2) { width: 20%; }
  th:nth-child(3) { width: 36%; }
  th:nth-child(4) { width: 14%; }
}

.table-15-50-X {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 50%; }
}

.table-30-10-35-X {
  th:nth-child(1) { width: 30%; }
  th:nth-child(2) { width: 10%; }
  th:nth-child(3) { width: 35%; }
}

.table-15-30-15-X {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 30%; }
  th:nth-child(3) { width: 15%; }
}

.table-10-10-X {
  th:nth-child(1) { width: 10%; }
  th:nth-child(2) { width: 10%; }
}

.table-20-10-50-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 10%; }
  th:nth-child(3) { width: 50%; }
}

.table-15-7-10-45-X {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 7%;  }
  th:nth-child(3) { width: 10%; }
  th:nth-child(4) { width: 45%; }
}

.table-38-15-20-X {
  th:nth-child(1) { width: 38%; }
  th:nth-child(2) { width: 15%; }
  th:nth-child(3) { width: 20%; }
}

.table-34-15-20-14-X {
  th:nth-child(1) { width: 34%; }
  th:nth-child(2) { width: 15%; }
  th:nth-child(3) { width: 20%; }
  th:nth-child(4) { width: 14%; }
}

.table-35-20-X {
  th:nth-child(1) { width: 35%; }
  th:nth-child(2) { width: 20%; }
}

.table-34-12-12-X {
  th:nth-child(1) { width: 34%; }
  th:nth-child(2) { width: 12%; }
  th:nth-child(3) { width: 12%; }
}

.table-11-11-20-X {
  th:nth-child(1) { width: 11%; }
  th:nth-child(2) { width: 11%; }
  th:nth-child(3) { width: 20%; }
}

.table-13-13-13-13-20-X {
  th:nth-child(1) { width: 13%; }
  th:nth-child(2) { width: 13%; }
  th:nth-child(3) { width: 13%; }
  th:nth-child(4) { width: 13%; }
  th:nth-child(5) { width: 20%; }
}

.table-20-40-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 40%; }
}

.table-24-38-X {
  th:nth-child(1) { width: 24%; }
  th:nth-child(2) { width: 38%; }
}

.table-30-8-36-X {
  th:nth-child(1) { width: 30%; }
  th:nth-child(2) { width: 8%; }
  th:nth-child(3) { width: 36%; }
}

.table-20-20-15-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 20%; }
  th:nth-child(3) { width: 15%; }
}

.table-10-20-15-25-X {
  th:nth-child(1) { width: 10%; }
  th:nth-child(2) { width: 20%; }
  th:nth-child(3) { width: 15%; }
  th:nth-child(4) { width: 25%; }
}

.table-13-29-29-X {
  th:nth-child(1) { width: 13%; }
  th:nth-child(2) { width: 29%; }
  th:nth-child(3) { width: 29%; }
}

.table-15-15-20-X {
   th:nth-child(1) { width: 15%; }
   th:nth-child(2) { width: 15%; }
   th:nth-child(3) { width: 20%; }
}

.table-15-7-7-7-45-X {
   th:nth-child(1) { width: 15%; }
   th:nth-child(2) { width:  7%; }
   th:nth-child(3) { width:  7%; }
   th:nth-child(4) { width:  7%; }
   th:nth-child(5) { width: 45%; }
}

.table-20-60-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 60%; }
}

.table-15-15-10-20-20-X {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 15%; }
  th:nth-child(3) { width: 10%; }
  th:nth-child(4) { width: 20%; }
  th:nth-child(5) { width: 20%; }
}

.table-10-X {
  th:nth-child(1) { width: 10%; }
}

.table-15-15-X {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 15%; }
}

.table-20-15-15-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 15%; }
  th:nth-child(3) { width: 15%; }
}

.table-10-15-X {
  th:nth-child(1) { width: 10%; }
  th:nth-child(2) { width: 15%; }
}

.table-huge-font {
  font-size: 120%;
}
