.table-45-30-X {
  th:nth-child(1) { width: 45%; }
  th:nth-child(2) { width: 30%; }
}

.table-20-20-X {
  th:nth-child(1) { width: 20%; }
  th:nth-child(2) { width: 20%; }
}

.table-15-15-30-X {
  th:nth-child(1) { width: 15%; }
  th:nth-child(2) { width: 15%; }
  th:nth-child(3) { width: 30%; }
}