<h3>Follow Idiosyncratic Ruby</h3>

<ul>
  <li>
    <a href="/feed.xml">
      Atom <img src="/images/feed.png" alt="Feed" class="feed-icon" />
    </a> / Direct Feed
  </li>

  <li>
    <a href="https://github.com/janlelis/idiosyncratic-ruby.com">
      idiosyncratic-ruby.com
    </a> / GitHub
  </li>

  <li>
    <a href="https://twitter.com/idiosyncraticrb">
      @idosyncraticrb
    </a> / Twitter
  </li>
</ul>
