<a href="/feed.xml">
  <img src="/images/feed.png" alt="Feed" class="feed-icon">
</a>

<a class="twitter-share-button" href="https://twitter.com/share"
    data-via="idiosyncraticrb"
    data-count="horizontal"
    data-dnt="true"
    data-text="Idiosyncratic Ruby: Documenting Lesser-Known Features of Ruby"
    data-url="http://idiosyncratic-ruby.com"
  > Twitter
</a><script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>

<div class="github-star-button">
  <a aria-label="Star janlelis/idiosyncratic-ruby.com on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/janlelis/idiosyncratic-ruby.com#stargazers_count" data-count-href="/janlelis/idiosyncratic-ruby.com/stargazers" data-icon="octicon-star" href="https://github.com/janlelis/idiosyncratic-ruby.com" class="github-button">Github</a>
</div>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>