---
title: "Ruby Quiz"
---

<div class="world">
  <section class="post-header">
    <a href="/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
    <h1 class="post-heading" id="top">Idiosyncratic Ruby Quiz</h1>
  </section>

  <article class="post">
    <p>
      Slides of the occasional quizzes at <a href="https://www.rug-b.de/">RUG::B</a>.
    </p>

    <ul>
      <li><a href="/quiz/2021/january/">January 2021</a></li>
      <li><a href="/quiz/2020/january/">January 2020</a></li>
      <li><a href="/quiz/2018/december/">December 2018</a></li>
      <li><a href="/quiz/2017/december/">December 2017</a></li>
      <li><a href="/quiz/2016/may/">May 2016</a></li>
      <li><a href="/quiz/2016/february/">February 2016</a></li>
      <li><a href="/quiz/2016/january/">January 2016</a></li>
      <li><a href="/quiz/2014/may/rrr.pdf">May 2014</a></li>
    </ul>

    <p>
      Also see Erik's Ruby Trivia <a href="https://speakerdeck.com/sferik/ruby-trivia">1</a> <a href="https://speakerdeck.com/sferik/ruby-trivia-2">2</a> <a href="https://speakerdeck.com/sferik/ruby-trivia-3">3</a> from 2015.
    </p>
  </article>
</div>
