---
title: "Ruby Quiz"
---

<div class="world">
  <div class="scroll-on-page start-page">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="/quiz/2014/may/rrr.pdf">May 2014</a>
      <a class="scroll-on-page-link" href="/quiz/2016/january/">January 2016</a>
      <a class="scroll-on-page-link" href="/quiz/2016/february/">February 2016</a>
      <a class="scroll-on-page-link" href="/quiz/2016/may/">May 2016</a>
      <a class="scroll-on-page-link" href="/quiz/2017/december/">December 2017</a>
      <a class="scroll-on-page-link" href="/quiz/2018/december/">December 2018</a>
      <a class="scroll-on-page-link" href="/quiz/2020/january/">January 2020</a>
      <a class="scroll-on-page-link" href="/quiz/2020/january/">January 2021</a>
    </aside>
  </div>

  <article>
    <section>
      <h3 id="about">Idiosyncratic Ruby Quiz</h3>
      <p>
        Slides for the occasional quizzes at <a href="https://www.rug-b.de/">RUG::B</a>. Also see Erik's Ruby Trivia <a href="https://speakerdeck.com/sferik/ruby-trivia">1</a> <a href="https://speakerdeck.com/sferik/ruby-trivia-2">2</a> <a href="https://speakerdeck.com/sferik/ruby-trivia-3">3</a> from 2015.
      </p>
    </section>
  </article>
</div>

