---
title: Idiosyncratic Ruby - Categories
---

<div class="world">
  <section class="post-header">
    <a href="/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby" /></a>
    <h1 class="post-heading" id="top"><a href="/categories/">Idiosyncratic Ruby</a></h1>
  </section>

  <section class="index-articles">
    <article>
      <h2>Quick Lists and Cheat Sheets</h2>
      <ul>
        <li><a href="/4-what-the-pack.html">All directives of <code>String#unpack</code> and <code>Array#pack</code></a></li>
        <li><a href="/9-globalization.html">Special global variables</a></li>
        <li><a href="/20-better-standards.html">Ruby's stdlib and its alternatives</a></li>
        <li><a href="/23-ruby-lookalikes.html">Ruby's successors</a></li>
        <li><a href="/25-meta-methodology.html">Metaprogramming with methods</a></li>
        <li><a href="/30-regex-with-class.html">Regex character classes</a></li>
        <li><a href="/32-no-more-errors.html">List of all Ruby exceptions</a></li>
      </ul>

      <h2>Collections of Idiosyncratic Bits</h2>
      <ul>
        <li><a href="/2-ruby-string-magic.html">Things to know about strings</a></li>
        <li><a href="/11-regular-extremism.html">Advanced regex features</a></li>
        <li><a href="/15-207-ways-to-rome.html">All string literal syntaxes</a></li>
        <li><a href="/27-golfing-basics.html">What can be learned by trying to write short code?</a></li>
        <li><a href="/29-limitations-of-language.html">Syntax edge cases</a></li>
        <li><a href="/33-too-expressive.html">How many syntactical meanings some characters have</a></li>
      </ul>

      <h2>Idiosyncratic Language API</h2>
      <ul>
        <li><a href="/3-ruby-can-you-speak-louder.html">Debug with <code>$VERBOSE</code> or <code>$DEBUG</code>?</a></li>
        <li><a href="/5-constant-shadows.html">The special <code>SCRIPT_LINES__</code> constant</a></li>
        <li><a href="/8-self-improvement.html">Use <code>module_function</code>, or rather <code>extend self</code>?</a></li>
        <li><a href="/10-know-your-environment.html">The <code>ENV</code> <s>hash</s></a></li>
        <li><a href="/13-slicing-rubies.html">Enumerable has a lot to offer, for example <code>Enumerable#slice_*</code></a></li>
        <li><a href="/14-meeting-some-locals.html">Creating local variables</a></li>
        <li><a href="/16-changing-the-rules.html">Everything can be changed</a></li>
        <li><a href="/18-con-struct-attributes.html">How to initialize structs and struct alternatives</a></li>
        <li><a href="/19-semantic-symbols.html">Special <code>_</code> symbols</a></li>
        <li><a href="/28-operating-nothing.html">What is possible with unary operators?</a></li>
        <li><a href="/35-identification.html">Comparing hashes by identity</a></li>
        <li><a href="/38-sad-methods.html">Reflecting on method arguments does not work for native methods</a></li>
        <li><a href="/40-fixed-numbers.html">Number literal (pre|in|suf)fixes</a></li>
      </ul>

      <h2>Idiosyncratic Standard Library</h2>
      <ul>
        <li><a href="/6-run-ruby-run.html"><code>un.rb</code></a></li>
        <li><a href="/21-uniform-resource-matching.html"><code>URI.regexp</code></a></li>
        <li><a href="/26-file-encoding-magic.html"><code>IRB::MagicFile</code></a></li>
        <li><a href="/34-utility-gems.html"><code>Gem</code></a></li>
        <li><a href="/36-erb-render-standard.html"><code>ERB.new</code></a>
      </ul>

      <h2>Idiosyncratic Command-Line Options</h2>
      <ul>
        <li><a href="/7-easier-switching.html"><code>$ ruby -s</code></a></li>
        <li><a href="/12-more-inspections.html"><code>$ irb --inspect</code></a></li>
        <li><a href="/17-stream-editing.html"><code>$ ruby -n</code></a></li>
        <li><a href="/22-literate-ruby.html"><code>$ ruby -X</code></a></li>
      </ul>


      <h2>Miscellaneous</h2>
      <ul>
        <li><a href="/1-test-highlights.html">No tool does syntax highlighting correctly</a></li>
        <li><a href="/24-goto-fail.html">The <code>SUPPORT_JOKE</code> compiler option</a></li>
        <li><a href="/31-roots-of-rubyism.html">Reasons for Ruby</a></li>
        <li><a href="/37-static-monkeys-vs-strong-ducks.html.md">Static typing vs. Ruby</a></li>
      </ul>

      <p><a href="/index/">Browse Chronologically</a></p>

      <%= partial 'layouts/social_footer' %>
    </section>
  </article>

  <footer>
    <div class="footer-right">
      On <a href="/">Idiosyncratic Ruby</a> by <a href="https://github.com/janlelis">Jan Lelis</a><br>
    </div>
  </footer>
</div>

<a href="https://github.com/janlelis/idiosyncratic-ruby.com/tree/master/source/posts/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
