<!doctype html>
<html>
  <head>
    <title>Idiosyncratic Ruby: Not Found</title>
    <%= partial 'layouts/head' %>
  </head>

  <body>
    <div class="world">
      <section class="post-header">
        <a href="/" class="post-logo"><img src="/images/idiosyncratic.png" alt="Idiosyncratic Ruby"></a>
        <h1 class="post-heading" id="top">404:<br/>Not Found</h1>
      </section>

      <article class="post">
        Back to <a href="/">Idiosyncratic Ruby</a>
      </article>
    </div>
  </body>
</html>
